.scrollBlock{
  display: flex;
  justify-content: end;
  margin: 40px;


}

.opacity-100{
  color: black;
  font-size: 30px;
  &:hover{
    color: #3b3939;
    cursor: pointer;
  }

}
.opacity-0{
  color: #6d7677;
}


@media screen and (max-width: 370px) {
  .scrollBlock{
    justify-content: end;
  }

  .opacity-100{
    font-size: 20px;
    margin: 20px;
  }

}
