$head_color: #c2970a;

.logo_container {
  width: 480px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__logo {
  border-radius: 50%;
  background-color: white;
  z-index: 5;
  width: 70px;
  height: 70px;
}

.navbar_item {
  padding: 0 0.8rem;
  color: white;
  font-size: 25px;
  transition: 0.2s;
  &:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color: $head_color;
    transition: 0.3s ease;
    opacity: 1;
  }
}
.navbar_text {
  padding: 0 0.10rem;
  color: white;
  font-size: 40px;
  transition: 0.2s;
  &:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color: $head_color;
    transition: 0.3s ease;
    opacity: 1;
  }
}
@media (max-width: 1199px){
  .logo_container {
    display: flex;
    flex-direction: row;
  }
  .header__logo {
    width: 60px;
    height: 60px;
  }

  .navbar_text {
    font-size: 35px;
    color: white;
  }
}

@media (max-width: 991px){
  .logo_container {
    display: flex;
    flex-direction: row;

  }
  .header__logo {
    width: 40px;
    height: 40px;

  }
  .navbar_item {
    font-size: 25px;
  }
  .navbar_text {
    font-size: 25px;
    color: white;
  }

}
@media (max-width: 767px){
  .logo_container {
    display: flex;
    flex-direction: row;
  }
  .navbar_text {
    font-size: 16px;
    color: white;
  }


}
@media (max-width: 575px){
  .logo_container {
    display: flex;
    flex-direction: row;
  }
  .navbar_text {
    font-size: 146px;
    color: white;
  }

}




