$head_color: black;

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  color: white;
  position: absolute;
  z-index: 50;
  width: 100vw;


}


.navbar-logo {
  justify-content: start;
  cursor: pointer;
  align-items: center;

}

.header__logo {
  width: 10vw;
  height: 10vh;
  margin-top: 40px;

}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;

}

.gallerya,
.photo,
.about,
.blog,
.contact,
{
  color: #c4bbbb;
  font-size: 25px;
  padding: 20px 20px;
  margin: 0 10px;
  &::before {
    content: "";
    bottom: 0;

    left:0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #decccc;
    transition: 0.2s;
    transform: scaleX(0);
  }

  &:hover {
    color: $head_color;
  }

  &:hover:before {
   transform: scaleX(1);
  }

  li {
    font-family: 'Barlow Condensed', sans-serif;
    margin-left: 20px;
  }
}

.singnup {
  color: white;
  cursor: pointer;
  margin: 15px 10px;
  font-size: 20px;

  &:hover {
    color: $head_color;

  }
}

.mobile-menu-icon {
  display: none;
}


@media screen and (max-width: 780px) {
  .navbar {
    background-color: #100f0f;


  }
  .header__logo {
    width: 50%;
    height: 30%;
    margin-top: 0;
  }
  .logo {

    display: flex;
    position: absolute;
    align-items: start;
    left: 15px;
  }


  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: #3b3939;
    align-items: start;
    top: 74px;
    width: 100vw;
    height: 100vh;
    transition: all 0.5s ease-out;
    z-index: 50;

  }

  .gallerya,
  .photo,
  .about,
  .blog,
  .contact,
  {
    color: white;

    padding: 32px;
    transition: all 0.5s ease-out;
    font-family: 'Barlow Condensed', sans-serif;


  }

  .mobile-menu-icon {
    display: block;
    align-items: center;
    position: absolute;
    font-size: 30px;
    color: white;
    background-color: black;
    outline: none;
    right: 20px;
    z-index: 50;

    &:hover {
      color: $head_color;

    }
  }
}