$head_color: #c2970a;
.navbarItem {
 background-color: rgba(3, 3, 3, 0.6);
 height: 80px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 1.2rem;
}


.navbar-logo {
 justify-content: start;
 margin-left: 20px;
 cursor: pointer;
 color: white;
 &:hover {
  color: $head_color;

 }
}

.header__logo {
 border-radius: 50%;
 background-color: white;
 width: 60px;
 height: 60px;

}

.nav_menu {
 display: grid;
 grid-template-columns: repeat(5,auto);
 grid-gap: 10px;
 text-align: center;
 width: 70vw;
 justify-content: end;
 margin-right: 2rem;

}

.nav-links {
 color: white;
 padding: 0.5rem 1rem;
 font-size: 20px;
 &:hover {
  color: $head_color;
/*  background-color: #655f50;
  border-radius: 50%;
  transition: all 0.2s ease-out;*/
 }
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
 display: none;
}












/*
.navbar_burger {
 width: 40px;
 height: 40px;
 background: transparent;
 border: none;
 color: inherit;
 display: none;
}
*/
/*@media screen and (max-width: 767px) {
 .navbar_links {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  visibility: hidden;
  right: -100vw;
  bottom: 0;
  height: 100vh;
  padding: 2rem;
  background-color: rgb(12, 11, 11);
 }
 .show_nav .navbar_links {
  width: 100vw;
  visibility: visible;
  right: 0;
 }
 .navbar_link {
  display: block;
  padding: 1.5rem;
  font-size: 5vw;

 }


 .navbar_burger {
 display: block;
 position: fixed;
 top: 1rem;
 font-size: 5vw;
}

 .navbar_burger:hover {
  cursor: pointer;
 }

 .burger_bar,
 .burger_bar::before,
 .burger_bar::after  {
  display: block;
  width: 40px;
  height: 3px;
  position: relative;
  border-radius: 3px;
  background: white;
 }
}
.burger_bar::before,
.burger_bar::after {
 content: "";
 position: absolute;
 left: 0;
}
.burger_bar::before {
 transform: translateY(-12px);
}
.burger_bar::after {
 transform: translateY(12px);
}*/



