$head_color: #252424;

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  color: white;
  position: absolute;
  z-index: 50;
  width: 100vw;
}





.navbar-logo {
  justify-content: start;
  cursor: pointer;
  align-items: center;

}

.header__logo {
  width: 20vw;
  height: 20vh;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;

}
.home,
.gallerya,
.photo,
.blog,
.contact,
 {
  color: white;
  font-size: 15px;
  padding: 20px 20px;
  margin: 0 10px;
  &:hover {
    color: $head_color;

  }
}
.singnup {
  color: white;
  cursor: pointer;
  margin: 15px 10px;
  font-size: 20px;
  &:hover {
    color: $head_color;

  }
}
.mobile-menu-icon {
  display: none;
}


@media screen and (max-width: 780px) {
  .navbar{
    background-color: #100f0f;

  }
  .header__logo{
    width: 50%;
    height: 30%;
  }
  .logo {
    display: flex;
    position: absolute;
    align-items: start;
    left: 15px;
  }


  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: #3b3939;
    align-items: start;
    top: 74px;
    width: 60vh;
    height: 100vh;
    transition: all 0.5s ease-out;
    z-index: 50;

  }
  .home,
  .gallerya,
  .photo,
  .blog,
  .contact,
  {
    color: white;
    text-align: center;
    padding: 32px;
    transition: all 0.5s ease-out;


  }

  .mobile-menu-icon {
    display: block;
    align-items: center;
    position: absolute;

    font-size: 30px;
    color: white;
    background-color: black;
    outline: none;
    right: 20px;
    z-index: 50;
    &:hover {
      color: $head_color;

    }
}
}