.home_wrapper {
  height: 100vh;
  width: 100vw;


}

.home_page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: url("./../../image/photo_2021-11-07_16-51-52.jpg") center no-repeat;
  background-size: cover;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15% 0 0 5%;

  h1 {
    color: #a49a9a;
    font-size: 55px;
    margin: 0 0 15px 0;
  }
  p {
    color: white;
    font-size: 20px;
    text-transform: uppercase;

  }
}
@media screen and (max-width: 780px) {
  .description {
    margin: 50% 0 0 0;

    h1{
      font-size: 30px;
      padding: 0 20px 0 0;

    }

    p{
      font-size: 10px;
      padding: 0 30px 0 0;

    }
  }

}

//
.about_home {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #c7bcad;

}
.about_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 7%;

}
.about_text{
  height: 70vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3%;
  justify-content: center;

   h2{
   margin: 10%;
   }

}

.about-image{
  height: 70vh;
  width: 30vw;
  display: flex;
  justify-content: center;

  padding: 1% 0 1% 0;

  img{
    max-width: 100%;
    object-fit: cover;
    object-position: center;
  }


}
@media screen and (max-width: 780px) {
  .about_home{
    height: auto;
    width: 100vw;
  flex-wrap: wrap;

  }
  .about_wrapper{
    flex-direction: column;
    margin: 0;
  }
  .about_text{
    width: 100vw;

  }
  .about-image{
    width: 100vw;
  }
}

//


.galliry_home {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #bdabab;
}

.gallery{
  line-height:0;
  -webkit-column-count:5; /* split it into 5 columns */
  -webkit-column-gap:5px; /* give it a 5px gap between columns */
  -moz-column-count:5;
  -moz-column-gap:5px;
  column-count:5;
  column-gap:5px;

  img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px; /* to match column gap */
 /*   filter: grayscale(100%);
    &:hover {
    filter:none;

  }*/
  }
}

@media (max-width: 800px) {
  .gallery {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }
}
@media (max-width: 400px) {
  .gallery {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }
}



//
.footer_home {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #674e4e;
}