$head_color: #c2970a;
.nav {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav_link {
  padding: 0 0.5rem;
  color: white;
  font-size: 20px;
  transition: 0.2s;
  &:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color: $head_color;
    transition: 0.3s ease;
    opacity: 1;
  }

}

.burger_btn {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
  color: white;
}

@media (max-width: 1199px){
  .nav {
    display: flex;
    align-items: center;

  }
  .nav_link {
    padding: 0 0.4rem;
    color: white;
    font-size: 18px;
  }
}
@media (max-width: 991px),(max-width: 767px){
  .nav {

    flex-wrap: nowrap

  }
  .nav_link {
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
  }
  .burger_btn {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
    display: block;

  }

  .burger_btn:before {
    content: '';
    position: absolute;
    top: 3px;
    width: 25px;
    background-color: #e8d8d8;
    height: 2px;
  }
  .burger_btn span {
    position: absolute;
    top: 14px;
    width: 25px;
    background-color: #e8d8d8;
    height: 2px;
  }
  .burger_btn:after {
    content: '';
    position: absolute;
    bottom: 3px;
    width: 25px;
    background-color: #e8d8d8;
    height: 2px;

  }
}






